* {
    margin: 0px ;
    padding: 0px ;
}



.main{
    display: grid;
    position: relative;
    background-image: url('iconos/fondo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 150vh;
    background-color: #caf0f8;
    padding-right: 15px;
    height: 84.5vh;
    grid-template-columns: auto repeat(4, 27.7vh) auto;
    grid-template-rows: auto repeat(2, 27.5vh) auto;
}

.hom{
    position: relative;
    margin-top: -4.8%;
    border-radius: 2vh;
    height: 27.5vh;
    background-color: #244CDA;
    transition: transform 0.3s ease;
    background-size: cover;
    background-position: center center;
}
.hom:hover{
    transform: scale(0.95);
    filter: brightness(80%);
}

.usu{
    background-image: url('iconos/usuarios.png');
    grid-column: 2;
    grid-row: 2;
    
}
.ale{
    background-image: url('iconos/alertas.png');
    grid-column: 3;
    grid-row: 3;
}
.pac{
    background-image: url('iconos/pacientes.png');
    grid-column: 4;
    grid-row: 2;
}
.are{
    background-image: url('iconos/areas.png');
    grid-column: 5;
    grid-row: 3;
}